.body{
    .body__span{
        display: flex;
        flex-flow: row wrap;
        border: solid 2px rgb(156, 83, 33);
        z-index: 5;
        max-width: 280px;
        padding: 1em;
        margin: 1em;
        position: fixed;
        right: 1em;
        background-color: rgba(219, 172, 111, 0.836);
        color: #a18143;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: bolder;
        font-size: 3vh;
        word-spacing: 30;
        background-color: rgba(241, 229, 156, 0.747);
        a{  padding: 0.5em;
            text-decoration: none;
            color: #6d5e40;
            
        }
        span {
            animation-name: efecto;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 4s;
            animation-delay: 0s;
            z-index: 3;
            }
         @keyframes efecto{
            0%{background-color: #f2c97ccc;}
            50%{background-color: #f3b94dde;}
            100%{background-color: #f2c97ccc;}
         }
    }
}