.footer{
    display: block;
    margin-top: 1em;
    background-color: rgba(189, 144, 87, 0.726);
    width: 100%;
    .footer__div{
        display: block;
        overflow: hidden;
        width: fit-content;
        border: dashed 2px rgba(136, 115, 58, 0.884);
        margin: 0 auto;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1em;
        position: relative;
        
        text-decoration: none;
        text-decoration: underline #f0b03b;
        color: #97670d;
        text-align: center;
        font-weight: 900;
        font-family: 'Josefin Slab', serif;
        font-size: 1.4em;
    }
}