.footer{
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color:#eea61f49;
    z-index: 8;
    .footer__div{
        display: flex;
        flex-flow: row nowrap;

        width: 100vw;
        border: dashed 2px rgba(136, 115, 58, 0.884);
        padding: 1em;
        margin: 1em;
        position: relative;
        justify-content: center;
        background-color: rgba(189, 144, 87, 0.726);
        text-decoration: none;
        text-decoration: underline #f0b03b;
        color: #97670d;
        text-align: center;
        font-weight: 900;
        font-family: 'Josefin Slab', serif;
        font-size: 2em;
    }
}