         /*grid del index*/

         #grilla {
            display: grid;
            height: auto;
            grid-template-areas:
              "aUno  aDos"
              "footer footer";
            grid-template-rows:   auto 1fr ; 
            grid-template-columns: 2fr 1fr;
            gap: 10px;
         }
        

              /*disposicion de las areas*/

       
         footer {
            grid-area: footer;
         }
         article#aUno {
            grid-area: aUno;     
         }
         aside#aDos {
            grid-area: aDos;     
         }
        
         
        
              /* media queries para celulares */
        
         @media only screen and (max-width: 425px ){
             
              /* grilla para celulares L*/

           #grilla{
              display: grid;
              height: auto;
              width: auto;
              grid-template-areas:
              "aUno"
              "aDos"
              "footer";
                 }
             }

            