$boxBorderLogo: solid 2px rgb(156, 83, 33);
$boxBcolorLogo: rgba(179, 138, 84, 0.575);
$colorLogo: #97670d;
$borderLogo: outset 2px rgb(126, 91, 26);
$bcolorLogo: #a892676b;
$navBcolor: linear-gradient(to bottom, #c9a66696 , #ce9732bb );
$ulColor: #F2C97C;
$licolor: #9e5f0dd5;
$liBorder: 2px rgb(146, 93, 57);
$liBcolor: rgb(216, 189, 154);
$bordeCaja: solid 2px rgb(156, 83, 33);
